body {
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
}

.site-name {
  margin: 0;
  font-size: 3rem;
}

.login, .settings-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);*/
  padding: 1rem;
  border-radius: 15px;
  width: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.125);
}

.settings-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 2rem;
}


@media (max-width: 750px) {
  .site-name {
    margin-top: 3rem;
  }

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  .login, .settings-card {
    width: 95%;
    box-shadow: none;
    border-radius: 0;
    padding:0;
    background-color: transparent;
  }
}

.login form, .settings-card form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
}

.input {
  all: unset;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1rem;
  border: solid #00000033;
  border-radius: 10px;
}

.input:focus {
  border-color:#007BFF;
}

.submit {
  all: unset;
  width: 100%;
  border-radius: 10px;
  background-color: #007BFF;
  color: white;
  text-align: center;
  padding-block: 1rem;
}

.submit:hover {
  cursor:pointer;
  background-color:#006fe5;
}

.submit:active {
  background-color:#0064cf;
}

.login-buttons {
  display: flex;
  width: 100%;
  gap: 1rem;
}

.error-message {
  margin: 0;
  position: absolute;
  font-size: 0.75rem;
  color: red;
}

.input-containers {
  width: 100%;
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: white;
}

.message-form {
  
  gap: 1rem;
  padding: 1rem;
  display: flex;
  border-top: solid;
}

.message-form input {
  width: 100%;
}

.profile-pic-container {
  border: solid black 5px;
  border-radius: 50%;
  overflow: auto;
}

.profile-pic-container svg {
  width: 100%;
  height: 100%;
}

.profile-pic-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.user-card * {
  pointer-events: none;
}

.nav-link {
  all: unset;
  display:flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
}

.nav-link:hover, .user-card:hover, .message-card:hover {
  background-color: #dddddd;
}

.nav-link p {
  margin: 0;
}

.nav-icon {
  height: 1.5rem;
}

.settings-card form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.settings-page, .login-page, .signup-page, .users-page, .messages-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.dm-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.message-history {
  overflow: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 1rem;
}

.receiver-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: solid;
  padding: 1rem;
  flex-wrap: wrap;
}

.receiver-container h1 {
  margin: 0;
}

.login-page, .signup-page {
  justify-content: center;
}

.users-container, .messages-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-inline: 3rem;
  justify-content: center;
  padding-block: 2rem;
}

.user-card, .message-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
  gap: 0.5rem;
}

.message-card {
  width: 100%;
  align-items: start;
  border: solid;
  padding: 1rem;
}

.user-card p {
  margin: 0;
}

.users-container h1, .messages-container h1 {
  width: 100%;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  border: solid;
  padding: 1rem;
  color: white;
  border-radius: 10px;
  max-width: 75vw;
  height: auto;
  word-wrap: break-word;
  margin: 1rem 1rem 0 1rem;
}
